<!-- your html code here -->
<div class="row">

    <div class="col-8">
        <h2>
            <span class="text-dark">This First Heading</span>
            <span class="text-secondary">Will Catch Your Eye</span>
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>

    <div class="col-4 text-center">
        <img src="https://picsum.photos/seed/picsum/200/300" width="200" height="200" class="rounded-circle" alt="image">
    </div>

</div>
