<!-- your html code here -->
<h2>Portfolio</h2>

<p>Donec ullamcorper nulla metus auctor frngilla. Vestibullum id liguia porta felis euismod
    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus
    tellus ac cursus commodo</p>

<div class="container d-flex">
<div class="card" style="width: 18rem;">
    <img src="https://cdn.pixabay.com/photo/2023/03/04/20/07/coffee-7830087_1280.jpg" class="card-img-top w-100 h-50 " alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="website/assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="website/assets/img/big-project-image.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
</div>