<!-- your html code here -->
<h2>Portfolio</h2>

<p>Donec ullamcorper nulla metus auctor frngilla. Vestibullum id liguia porta felis euismod
    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus
    tellus ac cursus commodo</p>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2022/11/01/17/46/candle-7562931_1280.jpg"
                    class="card-img-top w-100 h-50 " alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur velit
                        orci, eu pharetra ligula.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2022/11/01/17/46/candle-7562931_1280.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur velit
                        orci, eu pharetra ligula.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
            <div class="card" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2022/11/01/17/46/candle-7562931_1280.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project Name</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur velit
                        orci, eu pharetra ligula.</p>
                </div>
            </div>
        </div>
    </div>
</div>