<!-- your html code here -->
<h2>Portfolio</h2>

<p>Donec ullamcorper nulla metus auctor frngilla. Vestibullum id liguia porta felis euismod
    semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus
    tellus ac cursus commodo</p>

<div class="container d-flex">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<div class="card" style="width: 18rem;"></div>
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>

<div class="card" style="width: 18rem;"></div>
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
</div>