<hr>
<div class="row m-5 px-5">

    <div class="col-2 text-center">
        <img src="https://picsum.photos/seed/picsum/200/300" width="200" height="200" class="rounded-circle" alt="image">
    </div>

    <div class="col-10">
        <h2>
            <span class="text-dark">The Second Heading</span>
            <span class="text-secondary">Is Pretty Cool Too.</span>
        </h2>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur 
            magni dolores eos qui ratione voluptatem sequi nesciunt.
        </p>
    </div>

</div>
<hr>