<!-- your html code here -->
<div class="container-fluid p-0">
    <!-- Imagen de fondo -->
    <div class="position-relative">
        <!-- Imagen de fondo que ocupa todo el ancho -->
        <img src="https://th.bing.com/th/id/R.8919d21fc92081d68e1802c8dce0e64c?rik=GwRbv%2b9P5vQOig&riu=http%3a%2f%2f3.bp.blogspot.com%2f-pRi6TP0EBc4%2fUkNycqtkY6I%2fAAAAAAAATn0%2f-a6RS-wiFnI%2fs1600%2fDescargar%2bPack%2bEspectaculares%2bfondos%2bde%2bpantalla%2bnaturales%2b%252528107%252529.jpg&ehk=ajeyvdOt%2bDZM6Zde%2fBhqXgArk0v7nxj5ox2kouhUflo%3d&risl=&pid=ImgRaw&r=0" class="img-fluid" alt="Imagen de fondo" style="width: 100%; height: 100vh; object-fit: cover;">

        <!-- Contenedor del texto que ocupa todo el ancho -->
        <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
            <h1 class="bg-dark bg-opacity-75 text-white p-3 m-3" style="font-size: 5rem; font-family: inherit;">One Page Wonder</h1>
            <h2 class="bg-dark bg-opacity-75 text-white p-3 ms-3 me-3" style="font-size: 2.5rem; margin-bottom: 20rem; font-family: inherit;">Will Knock Your Socks Off</h2>
        </div>
    </div>
</div>
